{% load static %}


<!-- Modal -->
{% block modal_assets %}{% endblock %}
<script src="{% static 'crisp_modals/modal.min.js' %}"></script>
<div class="modal fade {% block modal_classes %}{% endblock %}" id="modal" tabindex="-1" role="dialog"
     aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog {% block modal_styles %}{% endblock %}">
        <div class="modal-content">
            {% block pre_content %}{% endblock %}
            <div class="modal-header">
                {% block modal_title_tools %}{% endblock %}
                <div class="modal-title" id="modal-title">{% block modal_title %}{% endblock %}</div>
                <div class="modal-subtitle text-muted">{% block modal_subtitle %}{% endblock %}</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-content">
                {% block modal_body %}{% endblock %}
                {% block modal_scripts %}
                    <script>
                        function initializeModal() {
                        }
                        $('#modal').on('shown.bs.modal', function () {
                            initializeModal();
                        });
                    </script>
                {% endblock %}
            </div>
            <div class="modal-footer" id="modal-footer">{% block modal_footer %}{% endblock %}</div>
            {% block post_content %}{% endblock %}
        </div>
    </div>
</div>


